.btn {
    background: none;
    border: none;

}

.star {
    color: goldenrod;
    width: 20px;
    height: 20px;
}

#TableContainer {
    margin: auto;
    background-color: whitesmoke;
    overflow-x: auto;
    width: 100rem;
}